.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.small-image {
width: 400px; /* Adjust the width as per your requirement */
height: auto; /* Let the height adjust proportionally */
}
  
.caption {
text-align: center;
font-size: 14px;
margin-top: 5px; /* Add some spacing between the image and caption */
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

.box-chart {
width: 100%;
height: 30px;
gap: 5px;
}

.box-chart > div {
    flex: 0 calc(50% - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100px;
  gap: 1px;
}
  
.grid-stack {
  position: relative;
}

.grid-stack-item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}  

.chart-container {
  width: 100%;
  height: 100px;
  position: relative;
}

.chart-container::after {
  content: "";
  display: block;
  padding-bottom: 10%; /* Set the aspect ratio (height/width) */
}

.chart-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chart-container .echarts-y-axis {
  white-space: nowrap; /* Prevent label wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated labels */
}
  

.chart-wrapper {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
  
.layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Creates 12 equal-width columns */
    grid-gap: 5px; /* Sets the gap between grid items */
  }
  
/* Define the styles for the grid items within the layout */
.layout > div {
background-color: #f0f0f0;
padding: 10px;
}

/* Define the styles for specific breakpoints */
@media (max-width: 1200px) {
.layout {
    grid-template-columns: repeat(10, 1fr); /* Adjust the number of columns for large desktop screens */
}
}

@media (max-width: 996px) {
.layout {
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns for medium desktop screens */
}
}

@media (max-width: 768px) {
.layout {
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns for small tablets and landscape phones */
}
}

@media (max-width: 480px) {
.layout {
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for small phones */
}
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}
.light-mode {
  background-color: #fff;
  color: #333;
}

.sidebar.collapsed {
  width: 0px; /* Set the desired collapsed width */
}

.sidebar.collapsed .logo {
  justify-content: center; /* Center the logo in the collapsed state */
}

.sidebar.collapsed .logo a {
  display: flex;
  justify-content: center;
}

.sidebar.collapsed .logo .logo-img {
  display: none; /* Hide the logo image in the collapsed state */
}

.sidebar {
  width: 70px; /* Set the desired width for the sidebar */
  transition: width 0.3s ease;
  overflow: hidden;
}

.main-panel {
  transition: margin-left 0.3s ease; /* Add transition for smooth animation */
}

.sidebar.collapsed ~ .main-panel {
  margin-left: 0px; /* Adjust the margin to utilize the entire screen */
}

.footer[bg="dark"] {
  background-color: #000000; /* Set the desired dark background color */
  color: #ffffff; /* Set the desired text color for dark mode */
}

.footer[bg="light"] {
  background-color: #ffffff; /* Set the desired light background color */
  color: #000000; /* Set the desired text color for light mode */
}

.hide-controls {
  display: none;
}